body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-btn {
  margin-top: 10px;
}

label {
  margin-top: 10px;
}
